<div class="fluid-row with-padding">

	<h1>Team View</h1>


	<div class="flip-container small">
		<div class="flipper">
			<div class="front">
				<img src="http://i.imgur.com/xfUsHMN.jpg" alt="" />
		        <div class="text-field">
			        <p>Avnxt</p>
			        <p><i>F</i> AvnxtCosplay</p>
			    </div>
			</div>
			<div class="back">
				<p>
				  I'm a 20 y/o Swedish Cosplayer with the name Josephine! I started cosplaying in December 2013!
				</p>
			</div>
		</div>
	</div>
	<div class="flip-container small">
		<div class="flipper">
			<div class="front">
				<img src="http://i.imgur.com/xfUsHMN.jpg" alt="" />
		        <div class="text-field">
			        <p>Avnxt</p>
			        <p><i>F</i> AvnxtCosplay</p>
			    </div>
			</div>
			<div class="back">
				<p>
				  I'm a 20 y/o Swedish Cosplayer with the name Josephine! I started cosplaying in December 2013!
				</p>
			</div>
		</div>
	</div>
	<div class="flip-container small">
		<div class="flipper">
			<div class="front">
				<img src="http://i.imgur.com/xfUsHMN.jpg" alt="" />
		        <div class="text-field">
			        <p>Avnxt</p>
			        <p><i>F</i> AvnxtCosplay</p>
			    </div>
			</div>
			<div class="back">
				<p>
				  I'm a 20 y/o Swedish Cosplayer with the name Josephine! I started cosplaying in December 2013!
				</p>
			</div>
		</div>
	</div>
	<div class="flip-container small">
		<div class="flipper">
			<div class="front">
				<img src="http://i.imgur.com/xfUsHMN.jpg" alt="" />
		        <div class="text-field">
			        <p>Avnxt</p>
			        <p><i>F</i> AvnxtCosplay</p>
			    </div>
			</div>
			<div class="back">
				<p>
				  I'm a 20 y/o Swedish Cosplayer with the name Josephine! I started cosplaying in December 2013!
				</p>
			</div>
		</div>
	</div>
	<div class="flip-container small">
		<div class="flipper">
			<div class="front">
				<img src="http://i.imgur.com/xfUsHMN.jpg" alt="" />
		        <div class="text-field">
			        <p>Avnxt</p>
			        <p><i>F</i> AvnxtCosplay</p>
			    </div>
			</div>
			<div class="back">
				<p>
				  I'm a 20 y/o Swedish Cosplayer with the name Josephine! I started cosplaying in December 2013!
				</p>
			</div>
		</div>
	</div>

</div>