<div class="fluid-row">
	<ul class="blog-list">
		<li class="blog-item">
			<a ui-sref="blog">
				<div class="text-area">
					<h3>Blog Title</h3>
					<p>Short Description goes here</p>
					<small>Created, September 18 - 2014</small>
                </div>
                <img src="http://placehold.it/250x100" alt="">
			</a>
		</li>
        <li class="blog-item">
            <a href="">
                <div class="text-area">
                    <h3>Blog Title</h3>
                    <p>Short Description goes here</p>
                    <small>Created, September 18 - 2014</small>
                </div>
                <img src="http://placehold.it/250x100" alt="">
            </a>
        </li>
		<li class="blog-item">
			<a href="">
				<div class="text-area">
					<h3>Blog Title</h3>
					<p>Short Description goes here</p>
					<small>Created, September 18 - 2014</small>
				</div>
                <img src="http://placehold.it/250x100" alt="">
			</a>
		</li>
		<li class="blog-item">
			<a href="">
				<div class="text-area">
					<h3>Blog Title</h3>
					<p>Short Description goes here</p>
					<small>Created, September 18 - 2014</small>
				</div>
                <img src="http://placehold.it/250x100" alt="">
			</a>
		</li>
		<li class="blog-item">
			<a href="">
				<div class="text-area">
					<h3>Blog Title</h3>
					<p>Short Description goes here</p>
					<small>Created, September 18 - 2014</small>
				</div>
                <img src="http://placehold.it/250x100" alt="">
			</a>
		</li>
	</ul>
</div>
