body {
    background: #e5e5e5; 
}

.sidebar-row {
    width: 270px;
    position: absolute;
    background: $primary-background;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
    &.is-open {
        transform: translateX(0);
    }
    @media #{$medium-up} {
        position: fixed;
        transform: translateX(0);
        width: 15%;
        float: left;
    }
}

.main-row {
    width: 100%;
    position: relative;
    transition: transform .3s ease-in-out;
    &.is-open {
        transform: translateX(270px);
    }
    @media #{$medium-up} {
        width: 85%;
        margin-left: 15%;
        float: left;
    }
}

.main-content {
    width: 100%;
    position: relative;
    transition: transform .3s ease-in-out;
    &.is-open {
        transform: translateX(270px);
    }
    @media #{$medium-up} {
        width: 85%;
        margin-left: 15%;
        float: left;
    }
}

.collapsed {
    padding: 0;
}

.fluid-row {
    @include grid-row();
    max-width: 100%;
}