<div class="fluid-row">
	<ul class="blog-list">
		<li class="blog-item">
			<a href="">
				<div class="text-area">
					<h3>Tutorial Title</h3>
					<p>Short Description goes here</p>
					<small>Created, September 18 - 2014</small>
				</div>
			</a>
		</li>
		<li class="blog-item">
			<a href="">
				<div class="text-area">
					<h3>Tutorial Title</h3>
					<p>Short Description goes here</p>
					<small>Created, September 18 - 2014</small>
				</div>
			</a>
		</li>
		<li class="blog-item">
			<a href="">
				<div class="text-area">
					<h3>Tutorial Title</h3>
					<p>Short Description goes here</p>
					<small>Created, September 18 - 2014</small>
				</div>
			</a>
		</li>
		<li class="blog-item">
			<a href="">
				<div class="text-area">
					<h3>Tutorial Title</h3>
					<p>Short Description goes here</p>
					<small>Created, September 18 - 2014</small>
				</div>
			</a>
		</li>
	</ul>
</div>