<div class="fluid-row">
	<ul class="tutorial-list">
		<li class="tutorial-item">
			<a href="">
				<div class="text-area">
					<h3>Tutorial Title</h3>
					<p>Short Description goes here</p>
					<small>Created, September 18 - 2014</small>
				</div>
                <img src="http://placehold.it/140x100" alt="">
			</a>
		</li>
		<li class="tutorial-item">
            <a href="">
                <div class="text-area">
                    <h3>Tutorial Title</h3>
                    <p>Short Description goes here</p>
                    <small>Created, September 18 - 2014</small>
                </div>
                <img src="http://placehold.it/140x100" alt="">
            </a>
        </li>
		<li class="tutorial-item">
            <a href="">
                <div class="text-area">
                    <h3>Tutorial Title</h3>
                    <p>Short Description goes here</p>
                    <small>Created, September 18 - 2014</small>
                </div>
                <img src="http://placehold.it/140x100" alt="">
            </a>
        </li>
		<li class="tutorial-item">
            <a href="">
                <div class="text-area">
                    <h3>Tutorial Title</h3>
                    <p>Short Description goes here</p>
                    <small>Created, September 18 - 2014</small>
                </div>
                <img src="http://placehold.it/140x100" alt="">
            </a>
        </li>
	</ul>
</div>
